In [3]:
#has long fur?
#has short leg?
#makes woof woof

pig0 = [0,1,0]
pig1 = [1,1,0]
pig2 = [0,1,1]

dog0 = [0,1,1]
dog1 = [1,0,1] 
dog2 = [1,1,1]

train_x = [pig0, pig1, pig2, dog0, dog1, dog2]
train_y = [1,1,1,0,0,0]

In [4]:
from sklearn.svm import LinearSVC

model_animal_guess = LinearSVC()
model_animal_guess.fit(train_x,train_y)

E:\Anaconda\Lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC()

In [5]:
mistery_animal1 = [0,1,0] #pig


model_animal_guess.predict([mistery_animal1])

array([1])

In [6]:
mistery_animal1 = [0,1,0] #pig 1
mistery_animal2 = [1,1,1] #pig or dog 1 / 0
mistery_animal3 = [0,1,1] #dog 0

test_x = [mistery_animal1, mistery_animal2, mistery_animal3]
test_y = [1,1,0]

In [7]:
preview = model_animal_guess.predict(test_x)
preview

array([1, 0, 0])

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(test_y, preview)

0.6666666666666666

In [9]:
import pandas as pd

In [42]:
df = pd.read_json('DATA/br.json', lines=True)

In [35]:
df.head()

             city      lat      lng country
0       São Paulo -23.5500 -46.6333  Brazil
1  Rio de Janeiro -22.9111 -43.2056  Brazil
2  Belo Horizonte -19.9167 -43.9333  Brazil
3        Brasília -15.7939 -47.8828  Brazil
4        Salvador -12.9747 -38.4767  Brazil

In [36]:
df.head()

             city      lat      lng country
0       São Paulo -23.5500 -46.6333  Brazil
1  Rio de Janeiro -22.9111 -43.2056  Brazil
2  Belo Horizonte -19.9167 -43.9333  Brazil
3        Brasília -15.7939 -47.8828  Brazil
4        Salvador -12.9747 -38.4767  Brazil

In [41]:
df.to_json('br.json', orient='records', lines=True)

In [38]:
df

               city      lat      lng country
0         São Paulo -23.5500 -46.6333  Brazil
1    Rio de Janeiro -22.9111 -43.2056  Brazil
2    Belo Horizonte -19.9167 -43.9333  Brazil
3          Brasília -15.7939 -47.8828  Brazil
4          Salvador -12.9747 -38.4767  Brazil
..              ...      ...      ...     ...
111          Itambé -15.2450 -40.6239  Brazil
112  Elesbão Veloso  -6.2019 -42.1400  Brazil
113       Pedreiras  -4.5696 -44.6700  Brazil
114  Cachoeira Alta -18.7628 -50.9419  Brazil
115         Lagamar -18.1778 -46.8078  Brazil

[116 rows x 4 columns]